.overview-box{
    display: flex;
    border: 1px solid #DADCE0;
    border-radius: 1.15rem;
    margin-top: 1rem;
}

.description-box{
    padding: 1rem;
}

.description-box>div{
    margin-top: 1rem;
}

.overview-box>div:not(:last-child){
    border-right: 1px solid #DADCE0;
}

.img-box{
    padding: 1rem;
    background-color: #EBE8FD;
    border-radius: 0.5rem;
}

.candidate-box{
    padding:0 1rem;
}

.flex>div:not(:last-child){
    border-right: 1px solid #DADCE0;
}

.green-para{
    color: #05C165;
}

@media(max-width:675px){
    .overview-box{
        flex-wrap: wrap;
    }

    .overview-box>div:not(:last-child){
        border: 0;
        border-bottom: 1px solid #DADCE0;
    }

    .overview-box>div:first-child{
        border-right: 1px solid #DADCE0;
    }
}